# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
black_friday.head(2)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200

In [5]:
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [6]:
black_friday.shape

(537577, 12)

In [7]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [8]:
black_friday[(black_friday.Age == '26-35') & (black_friday.Gender == 'F')].shape[0]

49348

In [9]:
Q2=black_friday[(black_friday.Age == '26-35') & (black_friday.Gender == 'F')].shape[0]

In [10]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return Q2
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [11]:
black_friday['User_ID'].unique()

array([1000001, 1000002, 1000003, ..., 1004113, 1005391, 1001529],
      dtype=int64)

In [12]:
black_friday['User_ID'].unique().shape[0]

5891

In [13]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].unique().shape[0]
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [14]:
black_friday.dtypes.nunique()

3

In [15]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [16]:
#é o total menos o valor dos registros que possuem valor dividido pelo o total
#ficando apenas os que nao possuem registro

(black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]

0.6944102891306734

In [17]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return (black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [18]:
black_friday.isna().sum().max()

373299

In [19]:
Q6=black_friday.isna().sum().max()

In [20]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return Q6
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [21]:
black_friday['Product_Category_3'].value_counts()

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64

In [22]:
valores=black_friday['Product_Category_3'].value_counts()

In [23]:
Q7=16.0

In [24]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return Q7
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [25]:
black_friday['Purchase']

0          8370
1         15200
2          1422
3          1057
4          7969
          ...
537572    11664
537573    19196
537574     8043
537575     7172
537576     6875
Name: Purchase, Length: 537577, dtype: int64

In [26]:
aux = black_friday['Purchase']

In [27]:
normal = (aux - aux.min()) / (aux.max() - aux.min())

In [28]:
Q8=normal.mean()

In [29]:
Q8

0.38479390362696736

In [30]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return Q8
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

Normalizar seguindo a formula, signifia, z= (x - media)/(desvio padrão)

In [31]:
DV=black_friday['Purchase'].std()

In [32]:
M=black_friday['Purchase'].mean()

In [33]:
q9=(black_friday['Purchase']-M)/DV

In [34]:
q9

0        -0.193506
1         1.177698
2        -1.588401
3        -1.661679
4        -0.274012
            ...
537572    0.467804
537573    1.979943
537574   -0.259156
537575   -0.434019
537576   -0.493646
Name: Purchase, Length: 537577, dtype: float64

In [35]:
def q9():
    # Retorne aqui o resultado da questão 9.
    DV=black_friday['Purchase'].std()
    M=black_friday['Purchase'].mean()
    q9=(black_friday['Purchase']-M)/DV
    return q9[(q9 >= -1) & (q9 <= 1)].shape[0]
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [38]:
n1 = black_friday['Product_Category_3'].isna().sum()

In [41]:
n2 = black_friday['Product_Category_2'].isna().sum()

In [42]:
def q10():
    n1 = black_friday[(black_friday['Product_Category_2'].isna() == True) 
    & (black_friday['Product_Category_3'].isna() == True)].shape[0]
    
    n2 = black_friday['Product_Category_2'].isna().sum()
    
    # Retorne aqui o resultado da questão 10.
    return bool (n2 == n1)
    pass